<header class="row">
  <h1 class="text-center col-md-6 col-md-offset-3">Find Docs</h1>
</header>
<section class="row">
  <form>
    <div class="form-group col-md-6 col-md-offset-3">
      <label for="keywords" class="sr-only">Keywords</label>
      <input ng-model="keywords" name="keywords" type="text" autofocus class="form-control" placeholder="Title doc, e.g. Oil Filter">
    </div>
    <div class="form-group col-md-6 col-md-offset-3 text-center">
      <button ng-click="search(keywords)" class="btn btn-primary btn-lg">Search</button>
      <button ng-click="newDoc()" class="btn btn-info btn-lg">New Doc</button>
    </div>
  </form>
</section>
<hr>
<section class="row" ng-if="docs">
  <h1 class="text-center h2">Results</h1>
  <aside class="flash row">
    <article flash-alert duration="0" active-class="alert" class="col-md-6 col-md-offset-3 col-sm-12">
      {{flash.message}}
    </article>
  </aside>
  <ul class="list-unstyled">
    <li ng-repeat="doc in docs">
      <section class="well col-md-10 col-md-offset-1">
        <div class="col-md-1 h4">{{doc.id}}</div>
        <div class="col-md-2 h4">{{doc.date_of_issue}}</div>
        <div class="col-md-5 h4">{{doc.title}}</div>
        <div class="col-md-2 col-md-offset-2">
          <button ng-click="edit(doc.id)" class="btn btn-info">Edit</button>
          <button ng-click="delete(doc.id)" class="btn btn-info">Delete</button>
        </div>
      </section>
    </li>
  </ul>
</section>

